#drop_zone {
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:50px;
	text-align:center;
	position: fixed;
	top: 40%;
	left: 1%;
	width: 90%;
	opacity: 0.4; 
	z-index : 2;
	font:20pt bold,"Vollkorn";color:#bbb;
}

#nondrop_zone {
	position: fixed;
	height : 100%;
	width: 100%; 	
}

